:root {
  --primary-color: #ffbc00;
  --dark-color: #333;
  --light-color: #fff;
  --website-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  display: flex;
}

li {
  list-style: none;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 2rem;
  padding: 0.3rem 0;
  text-transform: uppercase;
}
h2 {
  font-weight: 100;
}
/* Utilitties */

.text-center {
  text-align: center;
}

.bottom-line {
  border-bottom: 2px solid var(--primary-color);
  width: 70px;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 1rem 1.4rem;
  border: none;
  font-size: 1.2rem;
  transition: background 1s;
}

.btn:hover {
  background: var(--primary-color);
}

.btn-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.bg-light {
  background: #f4f4f4;
  color: var(--dark-color);
}

.bg-dark {
  background: var(--dark-color);
  color: var(--light-color);
}
.bg-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.lead {
  font-weight: 600;
}

.lrg-1 {
  font-size: 1.3rem;
}
.lrg-2 {
  font-size: 2rem;
}
.lrg-3 {
  font-size: 3rem;
}

.my-1 {
  margin: 1.5rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.l-1 {
  font-size: 1.5rem;
}
.l-2 {
  font-size: 2rem;
}
.l-3 {
  font-size: 3rem;
}

/* header and Navbar */

#main-head {
  background: url("../img/showcase.jpg") no-repeat center right/cover;
  height: 100vh;
}

#another-head {
  background: url("../img/showcase.jpg") no-repeat 20% 30% / cover;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 2rem;
}

#main-head .navbar a,
#another-head .navbar a {
  border-bottom: 3px transparent solid;
  padding-bottom: 0.3rem;
  transition: border-color 0.5s;
}

#main-head .navbar a:hover,
#another-head .navbar a:hover {
  border-color: #ccc;
}

#main-head .navbar a.current-page,
#another-head .navbar a.current-page {
  border-color: var(--primary-color);
}

.container {
  padding: 0 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.55rem;
}

.navbar ul li {
  padding: 0 1rem;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.logo {
  width: 80px;
}

/* head content */

#main-head #head-content {
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 15%;
  color: var(--light-color);
}

#main-head #head-content h1 {
  font-size: 4rem;
}

#main-head #head-content p {
  font-size: 1.5rem;
  padding-bottom: 1.4rem;
}

#main-head #head-content a {
  transition: background-color 1s;
}

#main-head #head-content a:hover {
  background-color: var(--primary-color);
}

/* Home Section */
.section-title p {
  margin-top: 0.7rem;
}

.section-step {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1;
  grid-template-columns: repeat(4, 1fr);
}

.section-step > div {
  padding: 0 1.8rem;
}

#home-first .section-step .fas {
  color: var(--primary-color);
}

/* Section 2: Stats */

#home-scnd .stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#home-scnd .stats > div:nth-child(even) {
  background: #ccc;
}
#home-scnd .stats > div:nth-child(odd) {
  background: #f4f4f4;
}

#home-scnd .stats ul {
  display: block;
  padding: 1.5rem 0;
}

#home-scnd .stats ul li {
  display: block;
  font-size: 1.5rem;
  padding-bottom: 0.4rem;
  font-weight: 600;
}

#home-scnd .stats li.stats-num {
  font-size: 2rem;
}

/* section 3*/

#home-third .section-step .icon {
  color: white;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  background: var(--dark-color);
  padding: 2rem;
  text-align: center;
  border-radius: 50%;
  transition: all 1s;
}

#home-third .section-step .icon:hover {
  background: var(--primary-color);
}

#home-third .section-step .icon:hover .notif {
  background: var(--dark-color);
  color: var(--primary-color);
}

#home-third .section-step i {
  text-align: center;
  position: relative;
  top: 5px;
}

#home-third .section-step .notif {
  position: absolute;
  font-size: 1.75rem;
  top: -40px;
  z-index: 1;
  background: var(--primary-color);
  padding: 0.5rem 0.9rem;
  text-align: center;
  border-radius: 50%;
}

/* ABOUT  A*/
.sec-about .about-content {
  display: grid;
  grid-template-areas:
    "bio-img bio bio"
    "aw1 aw2 aw3";
  grid-gap: 1.2rem;
  text-align: center;
  margin: 2rem 0;
}

.sec-about .about-content .bio-img {
  grid-area: bio-img;
}
.sec-about .about-content .bio {
  border-left: 3px solid var(--primary-color);
  grid-area: bio;
}
.sec-about .about-content .bio h4 {
  margin: 0.75rem 0;
}
.sec-about .about-content .awards-1 {
  grid-area: aw1;
  padding: 2rem 1.2rem;
}
.sec-about .about-content .awards-2 {
  grid-area: aw2;
  padding: 2rem 1.2rem;
}
.sec-about .about-content .awards-3 {
  grid-area: aw3;
  padding: 2rem 1.2rem;
}

.sec-about .about-content .fas {
  color: var(--primary-color);
  margin: 1rem;
}

/* About B */

#sec-skill .progress {
  overflow: hidden;
  height: 20px;
  background: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

#sec-skill .progress div {
  height: 100%;
  color: #fff;
  text-align: center;
  background: var(--primary-color);
}

/* About C */

#sec-logo .about-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 1.5rem 0;
}

#sec-logo .about-logos img {
  width: 80%;
}

/* About D */

#sec-testimon .testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 0.55rem;
}

#sec-testimon .testimonials div ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

#sec-testimon .testimonials div p {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.75rem;
}
#sec-testimon .testimonials div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.5rem;
}

/* WORK */

#work .items {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#work .item {
  position: relative;
  background: var(--primary-color);
  overflow: hidden;
  top: 0;
  left: 0;
}

#work .item::after {
  /* for OVERLAY */
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.3, 1, 0.3, 1);
}
/* Bring in main color overlay */
#work .item:hover::after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

/* Scale image when hover it */
#work .item:hover .item-img {
  transform: scale(1.2);
}

/* Bring in text when image hover  */
#work .item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}

/* nambah smooth for the image when it hover */
#work .item-img {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

#work .item-img::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

#work .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

#work .item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: var(--light-color);
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 400ms;
}

#work .item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

#work .item-text-title {
  font-size: 2rem;
  padding: 1rem;
  margin-top: 5px;
}

#work .item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

/* Contact Page */

#contact .text-fields {
  display: grid;
  grid-template-areas:
    "name email"
    "subject number"
    "message message";

  grid-gap: 1.2rem;
  margin: 1.8rem 0;
}

#contact .text-fields .name-input {
  grid-area: name;
}
#contact .text-fields .subject-input {
  grid-area: subject;
}
#contact .text-fields .email-input {
  grid-area: email;
}
#contact .text-fields .phone-input {
  grid-area: number;
}
#contact .text-fields .message-input {
  grid-area: message;
}

#contact .text-fields input,
#contact .text-fields textarea {
  padding: 0.5rem 0.75rem;
}

#contact .text-fields textarea {
  height: 100px;
}

#contact .btn {
  width: 50%;
  margin: 1.5rem 0;
  cursor: pointer;
}

/* Contact Footer */

#contact-footer .list-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 1rem 0;
}

/* FOOTER */

footer {
  background: #222;
  color: white;
  padding: 1.2rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

footer .container p {
  font-size: 18px;
  padding-left: 1.2rem;
}

footer .container ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 20px;
  margin: 0 0.7rem;
  border: 2px solid var(--light-color);
  border-radius: 50%;
}

footer .container ul li a:hover {
  background: var(--primary-color);
}
